<a href="https://colab.research.google.com/github/Turna957/Assignment/blob/main/monisha_acharjee_%5BB3%2CB5%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python variables,datatypes and number
age = 25
name = "Alice"
height = 5.7
is_student = True
fruits = ["apple", "banana", "cherry"]
person = {"name": "Alice", "age": 25}

x, y, z = 10, 20, 30
print(x, y, z)

x = 5

print(x)
x = 10
print(x)

print(type(x))
print(type(name))

x = 10
def my_function(): print(x)
my_function()

def my_function(): x = 5
print(x)
a = 10
b = 5
result = a + b
print(result)

result = a - b
print(result)


result = a * b
print(result)

result = a / b
print(result)

x = 10
x += 5
print(x)

x -= 3
print(x)
x = 10
print(x)
print(type(x))
y = 3.14
print(y)
print(type(y))

name = "Alice"
print(name)
print(type(name))

is_active = True
print(is_active)
print(type(is_active))

fruits = ["apple", "banana", "cherry"]
print(fruits)
print(type(fruits))

coordinates = (10, 20)
print(coordinates)
print(type(coordinates))

10 20 30
5
10
<class 'int'>
<class 'str'>
10
10
15
5
50
2.0
15
12
10
<class 'int'>
3.14
<class 'float'>
Alice
<class 'str'>
True
<class 'bool'>
['apple', 'banana', 'cherry']
<class 'list'>
(10, 20)
<class 'tuple'>